/* Default Dark */
:root {
  --bg: #0f172a;
  --text: #ffffff;
  --card: #1e293b;
  --accent: #38bdf8;
}

/* Light Mode */
.light {
  --bg: #f8fafc;
  --text: #020617;
  --card: #e2e8f0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: 0.3s;
}

/* Theme Button */
#themeBtn {
  position: fixed;
  top: 15px;
  right: 15px;
  border: none;
  background: var(--accent);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

/* Button */
.btn {
  display: inline-block;
  background: var(--accent);
  color: black;
  padding: 8px 15px;
  border-radius: 6px;
  text-decoration: none;
  margin-top: 10px;
}

/* Header */
header {
  background: var(--card);
  padding: 30px;
  text-align: center;
}

/* Hero */
.hero {
  text-align: center;
  padding: 40px 20px;
}

.hero img {
  width: 150px;
  border-radius: 50%;
  border: 3px solid var(--accent);
}

/* Section */
section {
  padding: 30px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  color: var(--accent);
}

/* Skills */
.skills span {
  background: var(--card);
  padding: 8px 12px;
  margin: 5px;
  display: inline-block;
  border-radius: 6px;
}

/* Portfolio */
.portfolio img {
  width: 100%;
  max-width: 400px;
  margin: 10px;
  border-radius: 10px;
}

/* Footer */
footer {
  text-align: center;
  background: var(--card);
  padding: 15px;
}

/* Animation */
.fade {
  opacity: 1;
  transform: translateY(0);
  transition: 1s;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}
